<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/8784bf13-d247-4271-ad76-8679ceefc8da/resourcegroups/fanfiction20210711205018ResourceGroup/providers/Microsoft.Web/sites/fanfiction20210711205018</ResourceId>
    <ResourceGroup>fanfiction20210711205018ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fanfiction20210711205018.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>df47b809-78c5-487d-a7f1-064269b7914c</ProjectGuid>
    <PublishUrl>https://fanfiction20210711205018.scm.azurewebsites.net/</PublishUrl>
    <UserName>$fanfiction20210711205018</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>