
<meta charset="utf-8" />

@using fanfiction.Models.User
@model UserLog

<form asp-action="SignIn" method="post">

    <div class="text-center">
        <p class="lang adapt p-5" key="Sign-In"></p>
        <input asp-for="Email" class="mt-4 lang adapt" key="Email" type="email" name="email" maxlength="40" required><br>
        <input asp-for="Password" class="mt-3 lang adapt" key="Password" type="password" name="password" maxlength="40" required><br>
        <input asp-for="Datetime" id="date" type="hidden">
        <input asp-for="lang" id="lang" type="hidden">
        <button onclick="SetDate()" key="Sign-In" class="mt-3 btn btn-dark lang adapt"></button>
    </div>
</form>
<h2>@TempData["SignInError"]</h2>
<body>
    @if (TempData["SignInError"] != null)
    {
<div class="alert alert-danger alert-dismissible" style="margin-top: 20px; width: 100%">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    @TempData["SignInError"]
</div>}
</body>

